Source: spank-private-tmp
Section: libs
Priority: extra
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends: debhelper (>= 8), libslurm-dev
Standards-Version: 3.9.1
Vcs-Git: https://github.com/scibian/spank-private-tmp.git
Vcs-Browser: https://github.com/scibian/spank-private-tmp

Package: slurm-wlm-spank-plugin-private-tmp
Architecture: any
Depends: slurm-wlm-basic-plugins, ${misc:Depends}, ${shlibs:Depends}
Description: Slurm spank plugin for creating a private /tmp for each job
 This plugin creates a privare /tmp directory for each Slurm
 job.
